div#mesphotos {
    display: flex;
    width: 100%;
}

div#mesphotos img {
    width: 25%;
    box-shadow:none;
    transition: all 0.3s ease;
    margin-right: 15px;   
}

div#mesphotos img:hover{
    transform: scale(1.1);
    box-shadow: var(--ombre);
}